.github/**
.config/**
.vscode/**
.vscode-test/**
src/**
tests/**
tmp/**
out-test/**
.gitignore
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
CHANGELOG.md
CONTRIBUTING.md
.markdownlint.jsonc
node_modules/**
esbuild.js